.example-card {
  max-width: 600px;
  margin: auto;
  margin-top: 3rem;
  }
.label{
  text-align: center;
}

.example-form_0 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}


.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

/*Radio Butten*/
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
/*Checkbox-courses*/
.example-margin {
  margin: 0 10px;
}
.example-margin_1 {
  margin: 10px;
}
