<mat-grid-list cols="2" rowHeight="2:0.9"gutterSize="10px">
  <mat-grid-tile><img width="150" src="./assets/images/account.png">
    <button routerLink="/login" mat-raised-button color="accent">Receptionist</button></mat-grid-tile>
  <mat-grid-tile><img width="150" src="./assets/images/account.png">
    <button  mat-raised-button color="accent">Manager</button></mat-grid-tile>
  <mat-grid-tile><img width="150" src="./assets/images/account.png">
    <button  mat-raised-button color="accent">Teacher</button></mat-grid-tile>
  <mat-grid-tile><img width="150" src="./assets/images/account.png">
    <button  mat-raised-button color="accent">Student</button></mat-grid-tile>
</mat-grid-list>
